In [1]:
import numpy as np
import pandas as pd

In [2]:
cal_20 = pd.read_csv('~/downloads/Jan2020calendar.csv')

In [3]:
cal_19 = pd.read_csv('~/downloads/Jan2019calendar.csv')

In [4]:
cal_18 = pd.read_csv('~/downloads/Jan2018calendar.csv')

In [5]:
cal_17 = pd.read_csv('~/downloads/Jan2017calendar.csv')

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [7]:
cal_19.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,56621,2019-01-09,f,$55.00,$55.00,30,365
1,958,2019-01-09,f,$178.00,$178.00,1,30
2,958,2019-01-10,f,$178.00,$178.00,1,30
3,958,2019-01-11,f,$150.00,$150.00,1,30
4,958,2019-01-12,f,$150.00,$150.00,1,30

In [8]:
cal_20.available.value_counts()

f    1787695
t    1360430
Name: available, dtype: int64

In [9]:
cal_20['year'] = 2020  
cal_19['year'] = 2019  
cal_18['year'] = 2018  
cal_17['year'] = 2017

In [10]:
cal_19.available.value_counts()

f    1497799
t    1148816
Name: available, dtype: int64

In [11]:
cal_18.available.value_counts()

f    1496414
t     877546
Name: available, dtype: int64

In [12]:
cal_17.available.value_counts()

f    2057712
t    1240063
Name: available, dtype: int64

In [24]:
master_cal = pd.concat([cal_20, cal_19, cal_18, cal_17])

master_cal

In [ ]:
master_cal['price'] = master_cal['price'].str.split('$', 1, expand=True)