In [1]:
import numpy as np
import pandas as pd

In [2]:
cal_20 = pd.read_csv('~/downloads/Jan2020calendar.csv')

In [3]:
cal_19 = pd.read_csv('~/downloads/Jan2019calendar.csv')

In [4]:
cal_18 = pd.read_csv('~/downloads/Jan2018calendar.csv')

In [5]:
cal_17 = pd.read_csv('~/downloads/Jan2017calendar.csv')

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 50)

In [7]:
cal_19.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,56621,2019-01-09,f,$55.00,$55.00,30,365
1,958,2019-01-09,f,$178.00,$178.00,1,30
2,958,2019-01-10,f,$178.00,$178.00,1,30
3,958,2019-01-11,f,$150.00,$150.00,1,30
4,958,2019-01-12,f,$150.00,$150.00,1,30

In [8]:
cal_20.available.value_counts()

f    1787695
t    1360430
Name: available, dtype: int64

In [9]:
cal_20['year'] = 2020  
cal_19['year'] = 2019  
cal_18['year'] = 2018  
cal_17['year'] = 2017

In [10]:
cal_19.available.value_counts()

f    1497799
t    1148816
Name: available, dtype: int64

In [11]:
cal_18.available.value_counts()

f    1496414
t     877546
Name: available, dtype: int64

In [12]:
cal_17.available.value_counts()

f    2057712
t    1240063
Name: available, dtype: int64

master_cal

In [13]:
cal_20['price'] = cal_20['price'].str.replace('$', '')
cal_20['price'] = cal_20['price'].str.replace(',', '')

In [14]:
cal_19['price'] = cal_19['price'].str.replace('$', '')
cal_19['price'] = cal_19['price'].str.replace(',', '')

In [15]:
cal_18['price'] = cal_18['price'].str.replace('$', '')
cal_18['price'] = cal_18['price'].str.replace(',', '')

In [16]:
cal_17['price'] = cal_17['price'].str.replace('$', '')
cal_17['price'] = cal_17['price'].str.replace(',', '')

In [17]:
cal_20.dropna(axis=1)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year
0,958,2020-01-02,f,146.00,$146.00,1,30,2020
1,958,2020-01-03,f,147.00,$147.00,1,30,2020
2,958,2020-01-04,f,140.00,$140.00,1,30,2020
3,958,2020-01-05,t,135.00,$135.00,1,30,2020
4,958,2020-01-06,f,149.00,$149.00,1,30,2020
...,...,...,...,...,...,...,...,...
3148120,41220037,2020-12-27,f,88.00,$88.00,30,1125,2020
3148121,41220037,2020-12-28,f,88.00,$88.00,30,1125,2020
3148122,41220037,2020-12-29,f,88.00,$88.00,30,1125,2020
3148123,41220037,2020-12-30,f,88.00,$88.00,30,1125,2020
3148124,41220037,2020-12-31,f,88.00,$88.00,30,1125,2020

In [18]:
cal_19.dropna(axis=1)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year
0,56621,2019-01-09,f,55.00,$55.00,30,365,2019
1,958,2019-01-09,f,178.00,$178.00,1,30,2019
2,958,2019-01-10,f,178.00,$178.00,1,30,2019
3,958,2019-01-11,f,150.00,$150.00,1,30,2019
4,958,2019-01-12,f,150.00,$150.00,1,30,2019
...,...,...,...,...,...,...,...,...
2646610,31043827,2020-01-04,t,53.00,$53.00,30,365,2019
2646611,31043827,2020-01-05,t,53.00,$53.00,30,365,2019
2646612,31043827,2020-01-06,t,53.00,$53.00,30,365,2019
2646613,31043827,2020-01-07,t,53.00,$53.00,30,365,2019
2646614,31043827,2020-01-08,t,53.00,$53.00,30,365,2019

In [19]:
cal_17.price.astype(float)

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
           ...
3297770     NaN
3297771     NaN
3297772     NaN
3297773    74.0
3297774     NaN
Name: price, Length: 3297775, dtype: float64

In [20]:

cal_20['price'] = cal_20.price.astype(float)
cal_19['price'] = cal_19.price.astype(float)
cal_18['price'] = cal_18.price.astype(float)
cal_17['price'] = cal_17.price.astype(float)

In [21]:
cal_20.price.mean()

230.28350240222355

In [22]:
cal_20.price.median()

155.0

In [23]:
cal_19.price.mean()

224.98062317337428

In [24]:
cal_19.price.median()

159.0

In [25]:
cal_18.price.mean()

238.20308906883514

In [26]:
cal_18.price.median()

159.0

In [27]:
cal_17.price.mean()

238.2806615470343

In [28]:
cal_17.price.median()

165.0

In [29]:
master_cal = pd.concat([cal_20, cal_19, cal_18, cal_17])

In [30]:
master_cal.dropna()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights,year
0,958,2020-01-02,f,146.0,$146.00,1.0,30.0,2020
1,958,2020-01-03,f,147.0,$147.00,1.0,30.0,2020
2,958,2020-01-04,f,140.0,$140.00,1.0,30.0,2020
3,958,2020-01-05,t,135.0,$135.00,1.0,30.0,2020
4,958,2020-01-06,f,149.0,$149.00,1.0,30.0,2020
...,...,...,...,...,...,...,...,...
2646610,31043827,2020-01-04,t,53.0,$53.00,30.0,365.0,2019
2646611,31043827,2020-01-05,t,53.0,$53.00,30.0,365.0,2019
2646612,31043827,2020-01-06,t,53.0,$53.00,30.0,365.0,2019
2646613,31043827,2020-01-07,t,53.0,$53.00,30.0,365.0,2019
2646614,31043827,2020-01-08,t,53.0,$53.00,30.0,365.0,2019

In [32]:
master_cal.to_csv("master_cal.csv")

In [33]:
pwd

'/Users/natalia/Airbnb_Project'

In [39]:
master_cal.groupby(['listing_id','year'])

In [37]:
cal_20.listing_id.value_counts()

71645       365
32501596    365
25889791    365
30157594    365
21836601    365
           ...
38726789    365
1814061     365
18474596    365
14938407    365
4024236     365
Name: listing_id, Length: 8625, dtype: int64